books/The_Cross_Entropy_Method_A_Unified_Approach_Rubinstein_Kroese_2004.pdf filter=lfs diff=lfs merge=lfs -text
books/Spectra_of_graphs_Brouwer_2011.pdf filter=lfs diff=lfs merge=lfs -text
articles/spectra_in_graphs/Vertex-Frequency_Analysis_on_Graphs_Shuman_2013.pdf filter=lfs diff=lfs merge=lfs -text
articles/spectra_in_graphs/Are_almost_all_graphs_cospectral_slides_Godsill_2011.pdf filter=lfs diff=lfs merge=lfs -text
articles/spectra_in_graphs/Study_of_eigenspaces_of_graphs_Cvetkovic_1993.pdf filter=lfs diff=lfs merge=lfs -text
books/The_Elements_of_Differentiable_Programming_Blondel_Roullet_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/expanders/expander_graphs_and_their_applications_survey_Hoory_2006.pdf filter=lfs diff=lfs merge=lfs -text
articles/hamiltonicity/hamilton_cycles_in_random_graphs_Posa_1974.pdf filter=lfs diff=lfs merge=lfs -text
articles/sorting_networks/Sorting_Networks_Cambridge_lecture.pdf filter=lfs diff=lfs merge=lfs -text
books/dynamic-optimization-the-calculus-of-variations-kamien.pdf filter=lfs diff=lfs merge=lfs -text
books/dynamic-programming-models-and-application-denardo.pdf filter=lfs diff=lfs merge=lfs -text
books/difference_equations/Intro-to-Difference-Equations-Elayadi-2000.pdf filter=lfs diff=lfs merge=lfs -text
books/difference_equations/difference-equations-theory-applications-and-advanced-topics-mickens-3ed-2015.pdf filter=lfs diff=lfs merge=lfs -text
articles/branch_and_bound/A_branch_and_bound_algorithm_for_feature_subset_selection_Patrenahalli_Fukunaga_1977.pdf filter=lfs diff=lfs merge=lfs -text
articles/branch_and_bound/Algorithm_for_Traveling_Salesman_Problem_Little_MIT_1963.pdf filter=lfs diff=lfs merge=lfs -text
articles/branch_and_bound/An_automatic_method_of_solving_discret_programming_problems_Land_Doig_1960.pdf filter=lfs diff=lfs merge=lfs -text
articles/branch_and_bound/Branch_and_bound_methods_for_the_traveling_salesman_problem_Balas_CMU_1983.pdf filter=lfs diff=lfs merge=lfs -text
articles/branch_and_bound/General_branch_and_bound_and_its_relation_to_AStar_and_AOStar_nau_1984.pdf filter=lfs diff=lfs merge=lfs -text
books/TheoryOfScheduling_Conway_Cornell_1967.pdf filter=lfs diff=lfs merge=lfs -text
articles/dynamic_programming/Dynamic_programming_approach_to_sequencing_problems_Held_Karp_1962.pdf filter=lfs diff=lfs merge=lfs -text
books/discrete_calculus/DiscreteCalculus_AppliedAnalysisonGraphsforComputationalScience_Grady_2010.pdf filter=lfs diff=lfs merge=lfs -text
articles/dynamic_programming/Universal_Optimality_of_Dijkstra_via_Beyond-Worst-Case_Heaps_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/dynamic_programming/Parallel_Asynchronous_Label_Correcting_Methods_for_Shortest_Paths_Bertsekas_1994.pdf filter=lfs diff=lfs merge=lfs -text
articles/dynamic_programming/sethian-1996-a-fast-marching-level-set-method-for-monotonically-advancing-fronts.pdf filter=lfs diff=lfs merge=lfs -text
